In [3]:
def calculator():
    print("Welcome to the Python Calculator!")
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")

    operation = input("Enter the operation number (1/2/3/4): ")
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    if operation == '1':
        print("Result:", num1 + num2)
    elif operation == '2':
        print("Result:", num1 - num2)
    elif operation == '3':
        print("Result:", num1 * num2)
    elif operation == '4':
        if num2 == 0:
            print("Error: Cannot divide by zero!")
        else:
            print("Result:", num1 / num2)
    else:
        print("Invalid operation. Please try again.")

# Run the calculator
calculator()

Welcome to the Python Calculator!
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter the operation number (1/2/3/4): 1
Enter first number: 20
Enter second number: 30
Result: 50.0

In [4]:
# variables- container that hold data

In [5]:
a = 5

In [7]:
print(a)

5

In [8]:
b = 2.5

In [9]:
b

2.5

In [10]:
a= 6

In [11]:
a

6

In [12]:
age= 25 #integer

In [13]:
age

25

In [14]:
print(type(age))

<class 'int'>

In [15]:
price = 25.5 #float

In [16]:
print(type(price))

<class 'float'>

In [18]:
name = 'kamal' #string

In [19]:
print(name)

kamal

In [20]:
print(type(name))

<class 'str'>

In [21]:
is_student = True #boolean

In [23]:
print(type(is_student))

<class 'bool'>

In [26]:
fruit = ['apple','banana','cherry'] #list
fruit1 = ('apple','banana','cherry') #tuple

In [27]:
print(type(fruit))

<class 'list'>

In [28]:
print(type(fruit1))

<class 'tuple'>

In [29]:
person = {'name':'kamal','age':25} #dictionary

In [30]:
print(type(person))

<class 'dict'>

In [31]:
k= 4

In [32]:
_name = 'kamal'

In [33]:
3name = 'kamal'

SyntaxError: invalid decimal literal (<ipython-input-33-c1e635eee8e5>, line 1)

In [34]:
name5 ='kamal'

In [35]:
name_5='kamal'

In [36]:
name-5='kamal'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-36-f0dced53d494>, line 1)

In [37]:
name!='kamal'

False

In [ ]:
name = input()

print('hell')

In [43]:
print ('hello world')

hello world

In [46]:
print("Welcome to the Python Calculator!")
print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

Welcome to the Python Calculator!
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide

In [51]:
name= input('enter your name')

enter your namekamal

In [52]:
name

'kamal'

In [54]:
print('welcome to python world')
name = input ('Please enter your name :')
print('hello',name)

welcome to python world
Please enter your name :kamal
hello kamal

In [55]:
a= 2+5

In [56]:
a

7

In [57]:
a = 6-7

In [58]:
a

-1

In [66]:
age = int(input('enter your age'))

enter your age25

In [67]:
age = int(input('enter your age'))

enter your agekamal

ValueError: invalid literal for int() with base 10: 'kamal'

In [70]:
age = int(input('enter your age'))

enter your age25.5

ValueError: invalid literal for int() with base 10: '25.5'

In [72]:
age = int(input('enter your age :'))

if age >= 18:
    print('you are eligible for voting')
else:
    print('you are not eligible for voting')

enter your age :7
you are not eligible for voting

In [73]:
age = int(input('enter your age :'))

if age > 18:
    print('you are eligible for voting')
elif age == 18:
    print('you are eligible for voting')
else:
    print('you are not eligible for voting')

enter your age :25
you are eligible for voting

In [74]:
age = int(input('enter your age :'))

if age > 18:
    print('you are eligible for voting')
elif age == 18:
    print('you are eligible for voting')
else:
    print('you are not eligible for voting')

enter your age :18
you are eligible for voting

In [75]:
age = int(input('enter your age :'))

if age > 18:
    print('you are eligible for voting')
elif age == 18:
    print('you are eligible for voting')
else:
    print('you are not eligible for voting')

enter your age :5
you are not eligible for voting